ansible-base==2.10.8
apache-libcloud==3.2.0
asgiref==3.5.2
certifi==2022.6.15
cffi==1.15.0
chardet==4.0.0
cryptography==37.0.2
cycler==0.11.0
Django==4.0.5
django-crispy-forms==1.14.0
et-xmlfile==1.1.0
fonttools==4.33.3
idna==2.10
Jinja2==3.0.3
jsonfield==3.1.0
kiwisolver==1.4.3
MarkupSafe==2.1.1
matplotlib==3.5.2
mysqlclient==2.0.3
numpy==1.22.4
openai==0.19.0
openpyxl==3.0.10
packaging==21.3
pandas==1.4.2
pandas-stubs==1.4.2.220626
Pillow==9.1.1
pycparser==2.21
PyNaCl==1.5.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.1
PyYAML==5.4.1
requests==2.25.1
simplejson==3.17.6
six==1.16.0
sqlparse==0.4.2
tqdm==4.64.0
typing_extensions==4.2.0
urllib3==1.26.9
uWSGI==2.0.20
