<!--- this is a template that forms a base for html it can then be called with 
a jinja statement in the corresponding html using extends 'base.html' 
using the css link below from bootstrapcdn --->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% if messages %}
          {% for message in messages %}
             <div class="navbar page-navbar navbar-dark navbar-expand-md fixed-top"> <strong class="text-primary"> <role="alert">
                <strong>{{message}} </strong>
                </div>
          {% endfor %}
      {% endif %}
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A test site for showing potential of GPT3.">
    <meta name="author" content="Devcrud">
    <title> {% block title %}{% endblock %} </title>
    <!-- font icons -->
    <link rel="stylesheet" href="{% static 'assets/vendors/themify-icons/css/themify-icons.css' %}">
    <!-- Bootstrap + Rubic main styles -->
	<link rel="stylesheet" href="{% static 'assets/css/rubic.css' %}">

</head>

<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

    <nav id="scrollspy" class="navbar page-navbar navbar-dark navbar-expand-md fixed-top" data-spy="affix" data-offset-top="20">
        <div class="container">
            <a class="navbar-brand" href="#"><strong class="text-primary">GPT</strong><span class="text-light">3</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'index-tab' %}">Home</a>
                    </li>
                
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link btn btn-primary text-dark shadow-none ml-md-4" href="/logout">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-primary text-dark shadow-none ml-md-4" href="#">Welcome, {{user.username}}</a>
                    </li>

                    {% else %}

                    <li class="nav-item">
                        <a class="nav-link btn btn-primary text-dark shadow-none ml-md-4" href="{% url 'login_user' %}">Login</a>
                    </li>

                    {% endif %}
                    </ul>
                    </div>
                    </div>



                </ul>
            </div>
        </div>
    </nav>
     
 
</head>
    <body>
        <header class="header d-flex justify-content-center">
            <div class="container">
                <div class="row h-100 align-items-center">
                    <div class="col-md-7">
                    {% block content %}
                    {% endblock %}  

                    </div>
                </div>
            </div>
        </header>
    </body>

    </body>
</html>